/********************/
/* Navigation menu. */
/********************/

nav {
    margin: 20px;
    width: 160px;
    text-align: right;
    float: left;
    position: fixed;
    font-weight: 300;
    padding-right: 10px;
}

nav ul {
    list-style-type: none;
}

.current-item {
    font-style: italic;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin, padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0,67,235);
}

/***********************/
/* Scrollable section. */
/***********************/

main {
    margin-left: 200px;
    float: left;
}

main a {
    padding-top: 30px; /* Should be consistent with the JS scroll animation. */
    color: rgb(80,80,80);
}

.current-section {
    opacity: 1;
}

.creation-list li {
    margin-bottom: 10px;
    display: block;
}

img {
    width: 150px;
}

section {
    padding-bottom: 10px;
    transition: all 1s ease;
    opacity: .7;
}