nav {
    margin: 20px;
    width: 160px;
    text-align: right;
    float: left;
    position: fixed;
}

nav ul {
    list-style-type: none;
}

main {
    margin-left: 200px;
}

.creations-list li {
    margin-bottom: 10px;
    display: block;
}