/********************/
/* Navigation menu. */
/********************/

body {
     margin-top: 0px;
}

nav {
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-weight: 300;
    background-color: #DCDCDC;
    z-index: 10;
}

nav h1 {
    font-size: 2em;
    color: black;
    float: left;
    margin: 0;
}

#title-by {
    display: block;
}

#title-maxh {
    display: block;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding-left: 20px; 
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

nav li {  
}

.current-item {
    font-weight: bold;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin, padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0,67,235);
}

/***********************/
/* Scrollable section. */
/***********************/

main {

}

main a {
    padding-top: 30px;
    color: rgb(80,80,80);
}

.current-section {
    opacity: 1;
}

.creation-list li {
    padding-top: 10px;
    display: block;
    margin-left: 5%;
    width: 90%;
    margin-bottom: -4px;
}

.creation-list {
    padding: 0;
}

img {
    width: 100%;
}

section {
    padding-bottom: 10px;
    transition: all 1s ease;
    opacity: .7;
}

/******************/
/* Desktop design */
/******************/

@media (min-width: 600px) {
    nav {
        margin: 20px;
	    width: 160px;
        text-align: right;
        float: left;
        font-weight: 300;
        padding-right: 10px;
        background-color: transparent;
    }

    nav ul {
        text-align: right;
        margin: 0;
        list-style-type: none;
        padding-left: 20px; 
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
    }

    .creation-list li {
        width: 100%;
        margin-left: 0;
    }

    nav h1 {
        float: none;
    }

    img {
       width: 400px;
    }

    main {
        float: left;
        margin-left: 200px;
    }
}	