<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <nav>
      <header>
        <h1>by maxh</h1>
      </header>
      <ul>
        {% for category in categories %}
          <li><a href="#{{ category.name.lower() }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <main>
      {% for category in categories %}
      <h3><a id="{{ category.name.lower() }}"</a>{{ category.name }}</h3>
        <ul class="creations-list">
        {% for item in category.contents %}
          <li><img src="https://googledrive.com/{{item.path}}"/></li>
        {% endfor %}
        </ul>
      {% endfor %}
    </main>
  </body>
</html>
